In [1]:
import mysql.connector
import pandas as pd

In [2]:
mydb = mysql.connector.connect(host="localhost", user="root", password="Mysql.2022")

mycursor = mydb.cursor()

print(mycursor)

CMySQLCursor: (Nothing executed yet)

In [4]:
# mycursor.execute("CREATE DATABASE MEDfl")

In [3]:
mycursor.execute("USE  MEDfl")

In [23]:
# Create Networks table
mycursor.execute(
    "CREATE TABLE Networks( \
                 NetId INT NOT NULL AUTO_INCREMENT, \
                 NetName VARCHAR(255), \
                 PRIMARY KEY (NetId) \
                 );"
)

In [4]:
# Create Nodes table
mycursor.execute(
    "CREATE TABLE Nodes( \
                 NodeId INT NOT NULL AUTO_INCREMENT, \
                 NodeName VARCHAR(255), \
                 Online BOOL DEFAULT 1,\
                 NetId INT,\
                 PRIMARY KEY (NodeId), \
                 FOREIGN KEY (NetId) REFERENCES Networks(NetId)\
                 )"
)

In [8]:
import pandas as pd

data_df = pd.read_csv(
    "~/Desktop/Github/MEDfl/Medfl/Notebooks/sapsii_score_knnimputed_eicu.csv"
)

columns = data_df.columns.tolist()


column_map = {"object": "VARCHAR(255)", "int64": "INT", "float64": "FLOAT"}
data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12893 entries, 0 to 12892
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             12893 non-null  object
 1   site_hospital  12893 non-null  object
 2   site_region    11937 non-null  object
 3   age            12893 non-null  int64
 4   pao2fio2       9472 non-null   float64
 5   uo             12893 non-null  int64
 6   admissiontype  12893 non-null  float64
 7   bicarbonate    12893 non-null  int64
 8   bilirubin      12893 non-null  int64
 9   bun            12893 non-null  int64
 10  chron_dis      12893 non-null  int64
 11  gcs            12893 non-null  int64
 12  hr             12893 non-null  int64
 13  potassium      12893 non-null  int64
 14  sbp            12893 non-null  int64
 15  sodium         12893 non-null  int64
 16  tempc          12893 non-null  int64
 17  wbc            12893 non-null  int64
 18  event_death    12893 non-null  int64
dtypes: float64(2), int64(14), object(3)
memory usage: 1.9+ MB

In [9]:
sub_query = "".join(f"{col} {column_map[str(data_df[col].dtype)]}," for col in columns)
sub_query

'id VARCHAR(255),site_hospital VARCHAR(255),site_region VARCHAR(255),age INT,pao2fio2 FLOAT,uo INT,admissiontype FLOAT,bicarbonate INT,bilirubin INT,bun INT,chron_dis INT,gcs INT,hr INT,potassium INT,sbp INT,sodium INT,tempc INT,wbc INT,event_death INT,'

In [10]:
# Create Dataset table
mycursor.execute(
    f"CREATE TABLE DataSets( \
                 DataSetId INT NOT NULL AUTO_INCREMENT, \
                 DataSetName VARCHAR(255), \
                 NodeId INT,\
                 {sub_query}\
                 PRIMARY KEY (DataSetId), \
                 FOREIGN KEY (NodeId) REFERENCES Nodes(NodeId)\
                 )"
)

In [11]:
mydb.commit()

In [12]:
from sqlalchemy import create_engine, text

my_eng = create_engine("mysql+mysqlconnector://root:Mysql.2022@localhost:3306/MEDfl")
my_eng = my_eng.connect()

In [13]:
class Network:
    def __init__(self, name: str):
        self.name = name

    def create_network(self):
        mycursor.execute(f"INSERT INTO Networks( NetName) VALUES ('{self.name}')")
        mydb.commit()

    def delete_network(self):
        mycursor.execute(f"DELETE FROM Networks WHERE NetName = '{self.name}'")
        mydb.commit()

    def update_network(self):
        pass

    @staticmethod
    def list_allnetworks():
        mycursor.execute("SELECT * FROM Networks")
        myresult = mycursor.fetchall()
        return myresult

In [14]:
Net = Network("Net1")
# Net.create_network()

In [18]:
df = Net.list_allnetworks()
df

[(1, 'Net1')]

In [21]:
class Node:
    def __init__(self, name: str):
        self.name = name

    def create_node(self, NetId: int, Online: int):
        mycursor.execute(
            f"INSERT INTO Nodes(NodeName,NetId,Online) VALUES ('{self.name}',{NetId}, {Online})"
        )
        mydb.commit()

    def delete_node(self):
        mycursor.execute(f"DELETE FROM Nodes WHERE NodeName = '{self.name}'")
        mydb.commit()

    def update_node(self):
        pass

    @staticmethod
    def list_allnodes():
        query = text("SELECT * FROM Nodes")
        res = pd.read_sql(query, my_eng)
        return res

In [32]:
# data_df = data_df.reset_index()  # make sure indexes pair with number of rows
path = "~/Desktop/Github/MEDfl/Medfl/Notebooks/sapsii_score_knnimputed_eicu.csv"


def is_str(data_df, row, x):
    if data_df[x].dtype == "object":
        x = f"'{row[x]}'"
    else:
        x = row[x]
    return x

In [17]:
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from imblearn.over_sampling import SMOTE
from torch.utils.data import Dataset, DataLoader, random_split, TensorDataset
import torch

In [211]:
class DataSet:
    def __init__(self, name: str, path: str):
        self.name = name
        self.path = path

    def upload_dataset(self, NodeId):
        data_df = pd.read_csv(self.path)
        columns = data_df.columns.tolist()

        column_map = {"object": "VARCHAR(255)", "int64": "INT", "float64": "FLOAT"}
        data_df["pao2fio2"].fillna(data_df["pao2fio2"].mean(), inplace=True)
        print(data_df["site_region"].unique())
        data_df["site_region"].fillna(data_df["site_region"].mode()[0], inplace=True)
        print(data_df["site_region"].unique())
        try:
            data_df = data_df.reset_index()
        except:
            pass
        print(data_df.columns.to_list())
        # data_df = data_df.head(1)
        for index, row in data_df.iterrows():
            query_1 = "INSERT INTO DataSets(DataSetName,NodeId," + "".join(
                f"{x}," for x in columns
            )
            query_2 = f" VALUES ('{self.name}',{DomainId}, " + "".join(
                f"{is_str(data_df,row,x)}," for x in columns
            )

            query = query_1[:-1] + ")" + query_2[:-1] + ")"
            mycursor.execute(query)
        mydb.commit()

    def delete_dataset(self):
        mycursor.execute(f"DELETE  FROM DataSets WHERE DatasetName = '{self.name}'")
        mydb.commit()

    def update_data(self):
        pass

    @staticmethod
    def list_alldatasets():
        query = text("SELECT DISTINCT DataSetName  FROM DataSets")
        res = pd.read_sql(query, my_eng)
        return res

    def get_dataset(self):
        query = text(f"SELECT * FROM  DataSets WHERE DataSetName = '{self.name}'  ")
        res = pd.read_sql(query, my_eng)
        return res

In [212]:
ds = DataSet("Dataset_1", path)

In [165]:
ds.delete_dataset()

In [166]:
ds.upload_dataset(NodeId=1)

['Midwest' nan 'South' 'West' 'Northeast']
['Midwest' 'South' 'West' 'Northeast']
['index', 'id', 'site_hospital', 'site_region', 'age', 'pao2fio2', 'uo', 'admissiontype', 'bicarbonate', 'bilirubin', 'bun', 'chron_dis', 'gcs', 'hr', 'potassium', 'sbp', 'sodium', 'tempc', 'wbc', 'event_death']

In [188]:
datasets = ds.list_alldatasets()
datasets

  DataSetName
0   Dataset_1

In [195]:
dataset = ds.get_dataset()
dataset

,DataSetId,DataSetName,DomainId,id,site_hospital,site_region,age,pao2fio2,uo,admissiontype,...,bun,chron_dis,gcs,hr,potassium,sbp,sodium,tempc,wbc,event_death
0,180542,Dataset_1,1,stay147985,site73,Midwest,16,0.00000,4,6.0,...,6,0,5,0,0,5,1,0,0,1
1,180543,Dataset_1,1,stay156248,site73,Midwest,7,0.00000,0,6.0,...,0,0,0,0,0,5,0,0,0,0
2,180544,Dataset_1,1,stay156308,site60,Midwest,18,0.00000,0,6.0,...,6,0,0,0,3,5,1,0,0,0
3,180545,Dataset_1,1,stay157820,site73,Midwest,12,0.00000,11,6.0,...,10,0,0,0,0,0,1,0,0,0
4,180546,Dataset_1,1,stay159036,site73,Midwest,18,0.00000,0,6.0,...,6,0,0,4,0,5,0,0,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12888,193430,Dataset_1,1,stay3345830,site458,South,12,1.41987,0,6.0,...,0,0,0,2,0,5,0,0,0,0
12889,193431,Dataset_1,1,stay3347760,site459,South,7,6.00000,0,6.0,...,6,0,7,2,3,5,5,0,3,0
12890,193432,Dataset_1,1,stay3349092,site458,South,7,1.41987,0,0.0,...,6,0,0,2,0,0,0,0,0,0
12891,193433,Dataset_1,1,stay3351413,site458,South,12,11.00000,0,6.0,...,0,0,7,2,0,13,0,0,0,0
12892,193434,Dataset_1,1,stay3352961,site459,South,15,0.00000,0,6.0,...,0,0,13,2,0,0,0,3,0,0

In [213]:
train_data, test_data = ds.create_train_test()

In [ ]:
def get_node_dataset(node_name):
    return pd.read_sql(
        text(f"SELECT * FROM DataSets WHERE NodeName = '{node_name}'"), my_eng
    )

In [19]:
def process_data(data, test_data):
    testdata = None
    encoder = LabelEncoder()
    data["site_hospital"] = encoder.fit_transform(data["site_hospital"].astype(str))
    data["site_region"] = encoder.fit_transform(data["site_region"].astype(str))
    X, y = (
        data.drop(["DataSetId", "DataSetName", "id", "event_death"], axis=1),
        data["event_death"],
    )
    X, y = torch.tensor(X.values, dtype=torch.float32), torch.tensor(
        y.values, dtype=torch.float32
    )
    data = TensorDataset(X_train, y_train)
    return data

In [20]:
def create_train_test(train_nodes: list, test_nodes: list, val_frac=0.1, test_frac=0.2):
    trainloaders, valloaders, testloader = [], [], None
    num_client = len(train_nodes)
    if test_nodes is None:
        dataset = get_node_dataset(train_nodes[0])
        dataset_size = dataset.shape[0]
        _, testdata = torch.utils.data.random_split(
            dataset, [dataset_size * (1 - test_frac), dataset_size * test_frac]
        )
        testloader = DataLoader(test_data, batch_size=1)
    else:
        testdatas = []
        for train_node in train_nodes:
            dataset = get_node_dataset(train_node)
            dataset = process_data(dataset)
            dataset_size = dataset.shape[0]
            traindata, valdata = torch.utils.data.random_split(
                dataset, [dataset_size * (1 - val_frac), dataset_size * val_frac]
            )
            trainloaders.append(DataLoader(traindata, batch_size=32, shuffle=True))
            valloaders.append(DataLoader(valdata, batch_size=32))

        for test_node in test_nodes:
            dataset = get_node_dataset(test_node)
            testdatas.append(dataset)
        # create the  testloader
        testdata = [testdatas[0].append(x, ignore_index=True) for x in testdatas[1:]][0]
        testdata = process_data(testdata)
        testloader = DataLoader(testdata, batch_size=1)
    return trainloaders, valloaders, testloader

<h2>Scénario</h2>
<ol>
    <li>Création du réseau eICU</li>
    <li> Création des noeuds d'entraînements (UDES,UQAM,UQAR) </li>
    <li> Création des noeuds de test (McGill,PMTL) </li>
    <li></li>
</ol>

In [ ]:
train_nodes, test_nodes = ["UDES", "UQAM", "UQAR"], ["McGill", "PMTL"]

In [222]:
import sys

sys.path.append(r"/home/hlpc/Desktop/Github/MEDfl/")
import os

os.environ["PYTHONPATH"] = "/home/hlpc/Desktop/Github/MEDfl/"

In [216]:
from Medfl import *

In [217]:
from Medfl.Federated.dataset import *

NUM_CLIENTS = 10


dataset = Dataset(train_data, test_data, num_clients=NUM_CLIENTS)

dataset.load_datasets()

In [218]:
# Create the model
from Medfl.Federated.model import *

global_model = LogisticRegression(
    input_dim=dataset.size, hidden_dim=2 * dataset.size, output_dim=1
)
global_model

LogisticRegression(
  (fc1): Linear(in_features=17, out_features=34, bias=True)
  (fc2): Linear(in_features=34, out_features=68, bias=True)
  (fc3): Linear(in_features=68, out_features=1, bias=True)
)

In [219]:
# Create a server
from Medfl.Federated.server import *

server = FlowerServer(
    global_model,
    strategy="FedAvg",
    num_rounds=3,
    num_clients=NUM_CLIENTS,
    dataset=dataset,
    diff_privacy=False,
)

In [220]:
# Create a pipeline
from Medfl.Federated.pipeline import *

ppl_1 = pipeline(pp_id=1, pp_name="test_pipeline", server=server)

In [223]:
ppl_1.server.run()

INFO flwr 2023-03-02 12:29:58,902 | app.py:145 | Starting Flower simulation, config: ServerConfig(num_rounds=3, round_timeout=None)
03/02/2023 12:29:58:INFO:Starting Flower simulation, config: ServerConfig(num_rounds=3, round_timeout=None)
2023-03-02 12:30:03,627	INFO worker.py:1509 -- Started a local Ray instance. View the dashboard at http://127.0.0.1:8265
INFO flwr 2023-03-02 12:30:04,882 | app.py:179 | Flower VCE: Ray initialized with resources: {'node:192.168.43.27': 1.0, 'CPU': 4.0, 'object_store_memory': 2870066380.0, 'memory': 5740132763.0}
03/02/2023 12:30:04:INFO:Flower VCE: Ray initialized with resources: {'node:192.168.43.27': 1.0, 'CPU': 4.0, 'object_store_memory': 2870066380.0, 'memory': 5740132763.0}
INFO flwr 2023-03-02 12:30:04,887 | server.py:86 | Initializing global parameters
03/02/2023 12:30:04:INFO:Initializing global parameters
INFO flwr 2023-03-02 12:30:04,894 | server.py:266 | Using initial parameters provided by strategy
03/02/2023 12:30:04:INFO:Using initial parameters provided by strategy
INFO flwr 2023-03-02 12:30:04,898 | server.py:88 | Evaluating initial parameters
03/02/2023 12:30:04:INFO:Evaluating initial parameters
INFO flwr 2023-03-02 12:30:04,918 | server.py:91 | initial parameters (loss, other metrics): 0.026872602087506175, {'accuracy': 0.5088757396449705}
03/02/2023 12:30:04:INFO:initial parameters (loss, other metrics): 0.026872602087506175, {'accuracy': 0.5088757396449705}
INFO flwr 2023-03-02 12:30:04,920 | server.py:101 | FL starting
03/02/2023 12:30:04:INFO:FL starting
DEBUG flwr 2023-03-02 12:30:04,923 | server.py:215 | fit_round 1: strategy sampled 3 clients (out of 10)
03/02/2023 12:30:04:DEBUG:fit_round 1: strategy sampled 3 clients (out of 10)

Server-side evaluation loss 0.026872602087506175 / accuracy 0.5088757396449705

(launch_and_fit pid=14473) /home/hlpc/anaconda3/envs/openmined/lib/python3.8/site-packages/opacus/privacy_engine.py:142: UserWarning: Secure RNG turned off. This is perfectly fine for experimentation as it allows for much faster training performance, but remember to turn it on and retrain one last time before production with ``secure_mode`` turned on.
(launch_and_fit pid=14473)   warnings.warn(

(launch_and_fit pid=14473) [Client 6] fit, config: {}
(launch_and_fit pid=14473) epsilon of client 6 : eps = 0

(launch_and_fit pid=14474) /home/hlpc/anaconda3/envs/openmined/lib/python3.8/site-packages/opacus/privacy_engine.py:142: UserWarning: Secure RNG turned off. This is perfectly fine for experimentation as it allows for much faster training performance, but remember to turn it on and retrain one last time before production with ``secure_mode`` turned on.
(launch_and_fit pid=14474)   warnings.warn(
DEBUG flwr 2023-03-02 12:30:08,022 | server.py:229 | fit_round 1 received 3 results and 0 failures
03/02/2023 12:30:08:DEBUG:fit_round 1 received 3 results and 0 failures
WARNING flwr 2023-03-02 12:30:08,029 | fedavg.py:242 | No fit_metrics_aggregation_fn provided
03/02/2023 12:30:08:WARNING:No fit_metrics_aggregation_fn provided
INFO flwr 2023-03-02 12:30:08,039 | server.py:116 | fit progress: (1, 0.026610170948434864, {'accuracy': 0.5562130177514792}, 3.115706107999358)
03/02/2023 12:30:08:INFO:fit progress: (1, 0.026610170948434864, {'accuracy': 0.5562130177514792}, 3.115706107999358)
DEBUG flwr 2023-03-02 12:30:08,041 | server.py:165 | evaluate_round 1: strategy sampled 3 clients (out of 10)
03/02/2023 12:30:08:DEBUG:evaluate_round 1: strategy sampled 3 clients (out of 10)
(launch_and_fit pid=14476) /home/hlpc/anaconda3/envs/openmined/lib/python3.8/site-packages/opacus/privacy_engine.py:142: UserWarning: Secure RNG turned off. This is perfectly fine for experimentation as it allows for much faster training performance, but remember to turn it on and retrain one last time before production with ``secure_mode`` turned on.
(launch_and_fit pid=14476)   warnings.warn(
DEBUG flwr 2023-03-02 12:30:08,096 | server.py:179 | evaluate_round 1 received 3 results and 0 failures
03/02/2023 12:30:08:DEBUG:evaluate_round 1 received 3 results and 0 failures
WARNING flwr 2023-03-02 12:30:08,099 | fedavg.py:273 | No evaluate_metrics_aggregation_fn provided
03/02/2023 12:30:08:WARNING:No evaluate_metrics_aggregation_fn provided
DEBUG flwr 2023-03-02 12:30:08,104 | server.py:215 | fit_round 2: strategy sampled 3 clients (out of 10)
03/02/2023 12:30:08:DEBUG:fit_round 2: strategy sampled 3 clients (out of 10)
DEBUG flwr 2023-03-02 12:30:08,162 | server.py:229 | fit_round 2 received 3 results and 0 failures
03/02/2023 12:30:08:DEBUG:fit_round 2 received 3 results and 0 failures

(launch_and_fit pid=14474) [Client 8] fit, config: {}
(launch_and_fit pid=14474) epsilon of client 8 : eps = 0
Server-side evaluation loss 0.026610170948434864 / accuracy 0.5562130177514792
(launch_and_fit pid=14476) [Client 0] fit, config: {}
(launch_and_fit pid=14476) epsilon of client 0 : eps = 0

INFO flwr 2023-03-02 12:30:08,184 | server.py:116 | fit progress: (2, 0.026430375124575824, {'accuracy': 0.5443786982248521}, 3.2604404489993613)
03/02/2023 12:30:08:INFO:fit progress: (2, 0.026430375124575824, {'accuracy': 0.5443786982248521}, 3.2604404489993613)
DEBUG flwr 2023-03-02 12:30:08,186 | server.py:165 | evaluate_round 2: strategy sampled 3 clients (out of 10)
03/02/2023 12:30:08:DEBUG:evaluate_round 2: strategy sampled 3 clients (out of 10)
DEBUG flwr 2023-03-02 12:30:08,236 | server.py:179 | evaluate_round 2 received 3 results and 0 failures
03/02/2023 12:30:08:DEBUG:evaluate_round 2 received 3 results and 0 failures
DEBUG flwr 2023-03-02 12:30:08,238 | server.py:215 | fit_round 3: strategy sampled 3 clients (out of 10)
03/02/2023 12:30:08:DEBUG:fit_round 3: strategy sampled 3 clients (out of 10)
DEBUG flwr 2023-03-02 12:30:08,288 | server.py:229 | fit_round 3 received 3 results and 0 failures
03/02/2023 12:30:08:DEBUG:fit_round 3 received 3 results and 0 failures
INFO flwr 2023-03-02 12:30:08,304 | server.py:116 | fit progress: (3, 0.026424193523339266, {'accuracy': 0.5384615384615384}, 3.3809996979998687)
03/02/2023 12:30:08:INFO:fit progress: (3, 0.026424193523339266, {'accuracy': 0.5384615384615384}, 3.3809996979998687)
DEBUG flwr 2023-03-02 12:30:08,306 | server.py:165 | evaluate_round 3: strategy sampled 3 clients (out of 10)
03/02/2023 12:30:08:DEBUG:evaluate_round 3: strategy sampled 3 clients (out of 10)
DEBUG flwr 2023-03-02 12:30:08,358 | server.py:179 | evaluate_round 3 received 3 results and 0 failures
03/02/2023 12:30:08:DEBUG:evaluate_round 3 received 3 results and 0 failures
INFO flwr 2023-03-02 12:30:08,360 | server.py:144 | FL finished in 3.43705915999999
03/02/2023 12:30:08:INFO:FL finished in 3.43705915999999
INFO flwr 2023-03-02 12:30:08,361 | app.py:202 | app_fit: losses_distributed [(1, 0.025494377523719445), (2, 0.025631307027278803), (3, 0.025688351493850497)]
03/02/2023 12:30:08:INFO:app_fit: losses_distributed [(1, 0.025494377523719445), (2, 0.025631307027278803), (3, 0.025688351493850497)]
INFO flwr 2023-03-02 12:30:08,364 | app.py:203 | app_fit: metrics_distributed {}
03/02/2023 12:30:08:INFO:app_fit: metrics_distributed {}
INFO flwr 2023-03-02 12:30:08,365 | app.py:204 | app_fit: losses_centralized [(0, 0.026872602087506175), (1, 0.026610170948434864), (2, 0.026430375124575824), (3, 0.026424193523339266)]
03/02/2023 12:30:08:INFO:app_fit: losses_centralized [(0, 0.026872602087506175), (1, 0.026610170948434864), (2, 0.026430375124575824), (3, 0.026424193523339266)]
INFO flwr 2023-03-02 12:30:08,367 | app.py:205 | app_fit: metrics_centralized {'accuracy': [(0, 0.5088757396449705), (1, 0.5562130177514792), (2, 0.5443786982248521), (3, 0.5384615384615384)]}
03/02/2023 12:30:08:INFO:app_fit: metrics_centralized {'accuracy': [(0, 0.5088757396449705), (1, 0.5562130177514792), (2, 0.5443786982248521), (3, 0.5384615384615384)]}

(launch_and_evaluate pid=14474) [Client 4] evaluate, config: {}
(launch_and_fit pid=14474) [Client 2] fit, config: {}
(launch_and_fit pid=14474) epsilon of client 2 : eps = 0
(launch_and_evaluate pid=14476) [Client 6] evaluate, config: {}
Server-side evaluation loss 0.026430375124575824 / accuracy 0.5443786982248521
(launch_and_fit pid=14476) [Client 6] fit, config: {}
(launch_and_fit pid=14476) epsilon of client 6 : eps = 0
(launch_and_evaluate pid=14473) [Client 3] evaluate, config: {}
(launch_and_fit pid=14473) [Client 1] fit, config: {}
(launch_and_fit pid=14473) epsilon of client 1 : eps = 0
(launch_and_evaluate pid=14474) [Client 7] evaluate, config: {}
(launch_and_fit pid=14474) [Client 3] fit, config: {}
(launch_and_fit pid=14474) epsilon of client 3 : eps = 0
(launch_and_evaluate pid=14476) [Client 3] evaluate, config: {}
(launch_and_fit pid=14476) [Client 7] fit, config: {}
(launch_and_fit pid=14476) epsilon of client 7 : eps = 0
(launch_and_evaluate pid=14473) [Client 2] evaluate, config: {}
(launch_and_fit pid=14473) [Client 8] fit, config: {}
(launch_and_fit pid=14473) epsilon of client 8 : eps = 0
Server-side evaluation loss 0.026424193523339266 / accuracy 0.5384615384615384
(launch_and_evaluate pid=14474) [Client 8] evaluate, config: {}
(launch_and_evaluate pid=14476) [Client 0] evaluate, config: {}
(launch_and_evaluate pid=14473) [Client 1] evaluate, config: {}