# Database and DataSets Management with **MedFL**

@Author : [MEDomics consortium](https://github.com/medomics/)

@Email : medomics.info@gmail.com

### Introduction
One of the main advantages of *MedFl* over the *Flower* package is that MedFl utilizes a database to store all the steps of the learning process, configurations, and learning results.

1. Store network elements of the federated learning architecture (Network, Nodes, Server)
2. Store the initial DataSet and the Federated DataSet
3. Store the FL Pipeline
4. Store the results of the training and testing

The database will assist researchers in analyzing and comparing different results based on various configurations, enabling them to track and select the best configuration.

In this tutorial, we'll demonstrate how to initialize your database and establish its connection to Medfl. Subsequently, we'll explore the step-by-step process of storing various pieces of information.

Our choice for utilizing [MySQL](https://www.mysql.com/fr/) as the database system is due to its robust features, reliability, and widespread adoption in the industry. Its strong support for structured query language (SQL) and its scalability make it an ideal choice for managing the diverse data sets and configurations within Medfl.

<img src="../Images/logos/mysqllogo.png"  style="width:150px ;height:50px ;">

Before beginning, ensure that you have installed MySQL and one of the servers, such as [WAMP](https://www.wampserver.com) or [XAMPP](https://www.apachefriends.org/fr/index.html), and have them running. 

To visualize your database, you can open [PHPMyAdmin](https://www.phpmyadmin.net) , a web-based tool that allows for convenient management and visualization of your database.

<img src="../Images/logos/wampLogo.png"  style="width:120px ;height:50px ;"> 
<img src="../Images/logos/xampplogo.png"  style="width:160px ;height:50px ;"> 
<img src="../Images/logos/phpmyadmin.png"  style="width:150px ;height:50px ;">

In [1]:
import sys
sys.path.append('../..')

import os
os.environ['PYTHONPATH'] = '../..'

Imports

In [2]:
import mysql.connector
import pandas as pd
from sqlalchemy import create_engine,text

## MedFL Imports 
from Medfl.NetManager.node import Node
from Medfl.NetManager.network import Network
from Medfl.NetManager.dataset import DataSet
from Medfl.NetManager.flsetup import FLsetup

### Create The DataBase

to create the databse we need to execute a script

<code>!python ../../scripts/create_db.py</code>

Now we will see what this script do step by step

1. Connect to MySQL

In [3]:
# Connect to mysql ( specify your user and password )
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password=""
)

# initialiser the cursor 
mycursor = mydb.cursor()

print(mycursor)

CMySQLCursor: (Nothing executed yet)

2. Create the MedFL DataBase

In [14]:
# Create the 'MEDfl' database if it doesn't exist
mycursor.execute("CREATE DATABASE IF NOT EXISTS MEDfl")

In [4]:
# Select the 'MEDfl' database
mycursor.execute("USE MEDfl")

3. Get All Tables

In [15]:
# Get the list of all tables in the database
mycursor.execute("SHOW TABLES")

tables = mycursor.fetchall()

4. Drop all tables

In [16]:
# Drop each table one by one
for table in tables:
    table_name = table[0]
    mycursor.execute(f"DROP TABLE {table_name}")

In [17]:
tables = mycursor.fetchall()

for table in tables:
    print(table)  # Display the table names

3. Create Tables

#### Network Table

In [18]:
#Create Networks table
mycursor.execute(
        "CREATE TABLE Networks( \
                     NetId INT NOT NULL AUTO_INCREMENT, \
                     NetName VARCHAR(255), \
                     PRIMARY KEY (NetId) \
                     );"
    )

#### Nodes table

In [19]:
#Create Nodes table
mycursor.execute("CREATE TABLE Nodes ( \
     NodeId int NOT NULL AUTO_INCREMENT,\
     NodeName varchar(255) DEFAULT NULL,\
     train tinyint(1) DEFAULT '1',\
     NetId int DEFAULT NULL,\
     PRIMARY KEY (NodeId),\
     KEY net_id (NetId),\
     CONSTRAINT net_id FOREIGN KEY (NetId) REFERENCES Networks (NetId) ON DELETE SET NULL ON UPDATE SET NULL\
    )")

### Creating a DataSet Table
In order to create a DataSet Table, we require a CSV file containing our DataSet. Extracting column names from the CSV file enables us to replicate the same columns within our database.

For this demonstration, we will use the *sapsii_score* DataSet from the *EiCU*, specifically the `sapsii_score_knnimputed_eicu.csv` file. This CSV file will serve as the basis for defining the columns in our database table.

In [20]:
## Choose your Dataset File 
data_df = pd.read_csv('../sapsii_score_knnimputed_eicu.csv')

columns = data_df.columns.tolist()


column_map = {"object": 'VARCHAR(255)' , 'int64' : 'INT', 'float64':'FLOAT'}
data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12893 entries, 0 to 12892
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             12893 non-null  object
 1   site_hospital  12893 non-null  object
 2   site_region    11937 non-null  object
 3   age            12893 non-null  int64
 4   pao2fio2       9472 non-null   float64
 5   uo             12893 non-null  int64
 6   admissiontype  12893 non-null  float64
 7   bicarbonate    12893 non-null  int64
 8   bilirubin      12893 non-null  int64
 9   bun            12893 non-null  int64
 10  chron_dis      12893 non-null  int64
 11  gcs            12893 non-null  int64
 12  hr             12893 non-null  int64
 13  potassium      12893 non-null  int64
 14  sbp            12893 non-null  int64
 15  sodium         12893 non-null  int64
 16  tempc          12893 non-null  int64
 17  wbc            12893 non-null  int64
 18  event_death    12893 non-null  int64
dtypes: float64(2), int64(14), object(3)
memory usage: 1.9+ MB

Create the subQuery based on the dataset Columns

In [21]:
sub_query = "".join(f"{col} {column_map[str(data_df[col].dtype)]}," for col in columns)
sub_query

'id VARCHAR(255),site_hospital VARCHAR(255),site_region VARCHAR(255),age INT,pao2fio2 FLOAT,uo INT,admissiontype FLOAT,bicarbonate INT,bilirubin INT,bun INT,chron_dis INT,gcs INT,hr INT,potassium INT,sbp INT,sodium INT,tempc INT,wbc INT,event_death INT,'

In [22]:
#Create Dataset table
mycursor.execute(f"CREATE TABLE DataSets( \
                 DataSetId INT NOT NULL AUTO_INCREMENT, \
                 DataSetName VARCHAR(255), \
                 NodeId INT,\
                 {sub_query}\
                 PRIMARY KEY (DataSetId), \
                 FOREIGN KEY (NodeId) REFERENCES Nodes(NodeId)\
                 )")

Create the rest of the tables

In [23]:
# Create FLsetup table
mycursor.execute("CREATE TABLE FLsetup (\
FLsetupId int NOT NULL AUTO_INCREMENT,\
name varchar(255)  NOT NULL, \
description varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,\
creation_date datetime NOT NULL,\
NetId int NOT NULL,\
column_name varchar(255) DEFAULT NULL,\
PRIMARY KEY (`FLsetupId`) \
)")

# Create FLpipeline table
mycursor.execute("CREATE TABLE FLpipeline(\
    id int NOT NULL AUTO_INCREMENT,\
    name varchar(255) NOT NULL, \
    description varchar(255) NOT NULL,\
    creation_date datetime NOT NULL,\
    results longtext   NOT NULL,\
    PRIMARY KEY (id)\
) ")

# Create test results table ( This Table will contains the results of the training and tests)
mycursor.execute("CREATE TABLE testResults(\
    pipelineId INT,\
    nodename VARCHAR(100) NOT NULL, \
    confusionmatrix VARCHAR(255),\
    accuracy LONG,\
    sensivity LONG,\
    ppv LONG,\
    npv LONG,\
    f1score LONG,\
    fpr LONG,\
    tpr LONG, \
    PRIMARY KEY (pipelineId , nodename), \
    FOREIGN KEY (pipelineId) REFERENCES FLpipeline(id)\
) ")

# Create FederatedDataset table
mycursor.execute("CREATE TABLE FedDatasets (\
    FedId int NOT NULL AUTO_INCREMENT,\
    FLsetupId int DEFAULT NULL,\
    FLpipeId int DEFAULT NULL,\
    name varchar(255) NOT NULL,\
    PRIMARY KEY (FedId),\
    KEY FedDatasets_ibfk_1 (FLsetupId),\
    KEY FedDatasets_ibfk_2 (FLpipeId),\
    CONSTRAINT FedDatasets_ibfk_1 FOREIGN KEY (FLsetupId) REFERENCES FLsetup(FLsetupId) ON DELETE SET NULL ON UPDATE SET NULL,\
    CONSTRAINT FedDatasets_ibfk_2 FOREIGN KEY (FLpipeId) REFERENCES FLpipeline(id) ON DELETE SET NULL ON UPDATE SET NULL\
)")

In [24]:
# Commit and save the changes 
mydb.commit()

In [5]:
# Show the created Tables 
mycursor.execute("SHOW TABLES")
tables = mycursor.fetchall()

for table in tables:
    print(table)  # Display the table names

('datasets',)
('feddatasets',)
('flpipeline',)
('flsetup',)
('masterdataset',)
('networks',)
('nodes',)
('testresults',)

### Some UseCases of the dataBase

In [18]:
my_eng = create_engine('mysql+mysqlconnector://root:@localhost:3306/MEDfl')
my_eng = my_eng.connect()

#### Creating and Adding a Network to the Database

In order to create a network, we'll use the `NetWork` class provided by *MedFl*. Instantiating this class requires providing the network's name. The creation process involves using the `create_network` method, which adds the newly created network to the database.

In [6]:
# Instantiating the newtwork class with the name 
Net = Network("Net1")
# Create and add the newtwork to the dataBase
Net.create_network()

#### List all created netWorks

In [27]:
df = Net.list_allnetworks()
df

   NetId NetName
0      1    Net1
1      2    Net2
2      3  random
3      4  random

#### Creating a MasterDataSet for the Network

Using the Methode `create_master_dataset` we will create a new table **MasterDataset**, and upload the data of `path_to_csv` to it, ( path_to_csv is optional and by default is the file specified on `Medfl.LearningManager.params.yaml` : `path_to_master_csv`  )
The MasterDataSet serves dual purposes within the network:

1. **Auto-Creation of Nodes:**
    - When automatically creating nodes, the MasterDataSet plays a pivotal role in dividing the data across various train and test nodes.

2. **Manual Creation of Nodes:**
    - In scenarios involving manual creation of nodes, the MasterDataSet acts as a reference point to verify compatibility between different dataSets and the MasterDataSet.

In [15]:
# Create a masterDataSet Table
Net.create_master_dataset() ;

#### Create nodes

In [29]:

# Instantiating the Node class 
node = Node(name = "node3" , train = 1)
# Create the node 
node.create_node(NetId=1)

# List all nodes 
nodeList = node.list_allnodes()
nodeList

1

   NodeId   NodeName  train  NetId
0       1  test_ndoe      1      1
1       2     node_2      0      1
2       3     node_2      0      1
3       4      node2      0      1
4       5      node3      1      1

### Uploading DataSet to Nodes

To upload a dataSet to a node directly, there are two options available:

1. **Upload a New DataSet:**
    - Use the `Node.upload_dataset` method. This method enables the direct upload of a CSV file to a node, adding it to the database, and assigning it to the respective node.

2. **Using an Existing DataSet:**
    - Utilize the `Node.affect_dataSet` method. This approach involves using an existing DataSet already present in the database and assigning it to the node. This option is viable if the DataSet was previously added to the database without being assigned to any node using the `DataSet.upload_dataset` method. It's also beneficial when reusing the same DataSet for another node in a different experiment, already associated with a node in a prior experiment.

1. **Upload a new DataSet**
   
   we will upload the dataset `eicu_test_1.csv` to the node that we have create **test_node**

In [16]:
# uploading the data set to the node 
node.upload_dataset(dataset_name ='Test_Data_set' , path_to_csv='../eicu_test_1.csv') ;

In [18]:
# Get the node DataSet
node_dataset = node.get_dataset() ; 
node_dataset

,DataSetId,DataSetName,NodeId,id,site_hospital,site_region,age,pao2fio2,uo,admissiontype,...,bun,chron_dis,gcs,hr,potassium,sbp,sodium,tempc,wbc,event_death
0,1,Test_Data_set,1,stay147985,site73,Midwest,16,0.0,4,6.0,...,6,0,5,0,0,5,1,0,0,1
1,2,Test_Data_set,1,stay156248,site73,Midwest,7,0.0,0,6.0,...,0,0,0,0,0,5,0,0,0,0
2,3,Test_Data_set,1,stay156308,site60,Midwest,18,0.0,0,6.0,...,6,0,0,0,3,5,1,0,0,0
3,4,Test_Data_set,1,stay157820,site73,Midwest,12,0.0,11,6.0,...,10,0,0,0,0,0,1,0,0,0
4,5,Test_Data_set,1,stay159036,site73,Midwest,18,0.0,0,6.0,...,6,0,0,4,0,5,0,0,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
293,294,Test_Data_set,1,stay695514,site167,West,12,0.0,4,6.0,...,6,0,0,4,0,13,0,0,0,1
294,295,Test_Data_set,1,stay700930,site171,West,7,0.0,0,6.0,...,0,0,0,0,3,5,0,0,0,0
295,296,Test_Data_set,1,stay709956,site167,West,12,0.0,0,6.0,...,6,0,0,0,0,0,0,3,0,0
296,297,Test_Data_set,1,stay713512,site165,West,18,0.0,4,6.0,...,0,0,0,4,0,5,0,0,0,0
297,298,Test_Data_set,1,stay715085,site167,West,7,0.0,11,6.0,...,0,0,0,2,0,5,0,0,3,0

In [29]:
# List all DataSets assotiated with the node
data = node.list_alldatasets()
data

     DataSetName   NodeName
0  Test_Data_set  test_ndoe

2. **Using an existing DataSet**
   
In this scenario, we'll use an existing dataSet and assign it to a node. However, before assigning it, we need to add the dataSet using `DataSet.upload_dataset()`. There's an optional parameter called *NodeId* that allows assigning the added dataset to a node. By default, this parameter is set to -1, indicating that the added dataset is not assigned to any node.

In [16]:
# Path to the csv file
path_to_csv = "../eicu_test_2.csv"
#
ds = DataSet(name="Dataset_3", path=path_to_csv)

In [20]:
# Upload the dataSet with the default NodeId = - 1 ( not assined to any node )
ds.upload_dataset()

List All DataSets

In [21]:
allDatasets = ds.list_alldatasets(my_eng)
allDatasets

     DataSetName  NodeId
0  Test_Data_set       1
1      Dataset_3      -1

Assign DataSet to Node

In [23]:

node_2 = Node(name="node_2" , train = 0 ) ; 

# # Create a new node 
# node_2.create_node(NetId=1) 

# assing Dataset_3 to node_2 
node_2.assign_dataset(dataset_name="DataSet_3"); 

# Display node Data Set
data_2 = node_2.get_dataset() ; 
data_2

,DataSetId,DataSetName,NodeId,id,site_hospital,site_region,age,pao2fio2,uo,admissiontype,...,bun,chron_dis,gcs,hr,potassium,sbp,sodium,tempc,wbc,event_death
0,565,Dataset_3,6,stay1089444,site199,Northeast,15,0.00000,0,6.0,...,6,0,0,4,3,13,1,0,3,1
1,564,Dataset_3,6,stay1088435,site199,Northeast,12,0.00000,0,8.0,...,6,0,0,4,3,5,0,0,12,0
2,563,Dataset_3,6,stay1084784,site206,Northeast,12,0.00000,11,6.0,...,10,0,0,0,3,13,0,0,0,0
3,562,Dataset_3,6,stay1084031,site199,Northeast,16,0.00000,11,6.0,...,6,0,0,2,0,5,0,0,0,0
4,561,Dataset_3,6,stay1082905,site202,Northeast,15,1.05556,0,6.0,...,6,0,0,2,0,5,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144,592,Dataset_3,6,stay1117239,site199,Northeast,7,0.00000,0,6.0,...,0,0,0,0,3,0,0,0,0,0
145,593,Dataset_3,6,stay1119233,site199,Northeast,18,0.00000,11,6.0,...,6,0,26,0,3,13,0,0,0,0
146,594,Dataset_3,6,stay1119288,site199,Northeast,7,0.00000,0,6.0,...,0,0,5,4,0,13,0,0,3,0
147,595,Dataset_3,6,stay1121252,site199,Northeast,0,0.00000,0,6.0,...,0,0,5,4,0,5,0,0,3,0
148,596,Dataset_3,6,stay1121985,site206,Northeast,12,1.05556,0,6.0,...,6,0,0,0,3,5,1,0,0,1

#### Unassigne DataSet 

The action of unassigning a dataSet is essentially the reverse or inverse of assigning a dataSet to a node. This process involves setting the nodeId to -1, which means disassociating the dataSet from any specific node. Consequently, when the nodeId is -1, the dataSet is not assigned to any node within the network.

In [8]:
# unAssigning DataSet_3
node_2.unassign_dataset('DataSet_3') ; 

# Display node Data Set
data_2 = node_2.get_dataset() ; 
data_2

Empty DataFrame
Columns: [DataSetId, DataSetName, NodeId, id, site_hospital, site_region, age, pao2fio2, uo, admissiontype, bicarbonate, bilirubin, bun, chron_dis, gcs, hr, potassium, sbp, sodium, tempc, wbc, event_death]
Index: []

[0 rows x 22 columns]

#### Delete DataSet 
Deleting a dataSet involves the complete removal of all samples or records associated with that specific dataSet from the database.

In [11]:
# Deleting the DataSet Dataset_3 
ds.delete_dataset() ; 

# List All available DataSets 
allDatasets = ds.list_alldatasets(my_eng)
allDatasets

     DataSetName  NodeId
0  Test_Data_set       1

### Create Federated DataSet

The Federated DataSet is a dataset used as a connector between the NetManager and the Learning Manager, 
To create a Federated DataSet we use the methode `create_federated_dataset` of the class `FLsetup`, it will go through all nodes,and generate **trainloders** & **valloaders** for the train nodes, and testloaders for the test nodes

In [7]:
from importlib import reload
from Medfl.NetManager import network, flsetup, net_helper
reload(network)
reload(flsetup)
reload(net_helper)

from Medfl.NetManager.network import Network
from Medfl.NetManager.flsetup import FLsetup



Net = Network('random')

network = Net.use_network('Net1')

# Create a FLsetup
flSetup = FLsetup(name="My_FLSetUp",
                  description="This is just a test", network=Net)


# Create a FL DATASET
# By default the take these values :
# val_frac=0.1, test_frac=0.2
flDataSet = flSetup.create_federated_dataset(
    output="event_death", 
    fill_strategy="mean", 
    fit_encode=["site_hospital", "site_region"], 
    to_drop=["DataSetId", "DataSetName", "id", "event_death", "NodeId"], 
    val_frac=0.1, 
    test_frac=0.15)

flDataSet